@charset 'utf-8';
*{margin:0px;padding:0px;}
ul, ol, li{list-style:none;}
body{
  font-family: "맑은 고딕",arial, sans-serif;
  font-size:12px;
  color:#333;
}
header{
  text-align:center;
  line-height:60px;
}
header img{width:160px;}

footer{
  clear:both;
  background-color:#333;
  text-align:center;
  color:#fff;
  line-height:40px;
}
footer > address{
  font-style:normal;
}