.text01{
  color:#0f0;
  font-size: 24px;
  font-weight: bold;
}

/* 마켓컬리 서식 */
.kully h2 {
  height: 60px;
  color: #333;
  text-align: center;
  margin: 20px 0;
}
.kully h2 img{
  height: 100%;
}
.kully h3{
  text-align: center;
}
.kully .cate{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.kully .cate button{
  background: rgb(244, 244, 244);
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.kully .swiper-slide{
  width: 200px;
  height: 400px;
}
.kully .swiper-slide > div{
  height: 300px;
}
.kully .swiper-slide img{
  width: 100%;height: 100%;
  object-fit: cover;
}
.kully .swiper-slide > p:nth-of-type(1){
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  letter-spacing: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}
.kully .swiper-slide > p:nth-of-type(2){
  display: block;
  padding-top: 2px;
  color: rgb(181, 181, 181);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: line-through;
  margin: 0;
}
.kully .swiper-slide .discount span:nth-of-type(1){
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  white-space: nowrap;
  margin-right: 7px;
  color: rgb(250, 98, 47);
}
.kully .swiper-slide .discount span:nth-of-type(2),.kully .swiper-slide .discount span:nth-of-type(3){
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  white-space: nowrap;
  color: #000;
}

