@charset "utf-8";

html, body{
  width: 100%;height: 100%;
}
main{
  margin-top: 60px; /* 헤더영역 띄우기 */
  height: 100%;
}
/* 1. 메인 슬라이드 */
#sec01{
  height: calc(100% - 60px);
}
.mySwiper1 {
  width: 100%;
  height: 100%;
}
.mySwiper1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper1 .swiper-pagination{
  top: inherit;
  bottom:0;
}
/* 2. 상품 슬라이드 */
#sec02{
  height: 550px;
}
.row{
  height: 100%;
  margin: 0;
}
.mySwiper2 {
  height: 100%;
}
.mySwiper2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 상품박스 */
.product_box{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 !important;
}
.product{
  display: block;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  background: orange;
  position: relative;
  border: 1px solid red;
  margin: 5px;
  box-sizing: border-box;
}
.pd_img{
  position: absolute;
  width: 80%; height: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.pd_img img{
  position: absolute;
  width: 100%;height: 100%;
  object-fit: cover;
  display: block;
}
.info{
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.info p{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; 
  line-height: 160%;
}
.info a{
  margin-top: 10px;
  display: block;
}
