@charset "utf-8";

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// 폰트 사이즈
$fs-xsmall: 0.75rem; // 12px
$fs-small: 0.875rem; // 14px
$fs-medium: 1rem; // 16px
$fs-medium-large: 1.125rem; // 18px
$fs-large: 1.25rem; // 20px
$fs-xlarge: 1.5rem; // 24px

// 폰트 두께
$fw-thin: 100;
$fw-light: 300;
$fw-normal: 500;
$fw-bold: 700;

// 색상
$red: #FF3418;
$yellow: #FFCC18;
$green: #85EE1C;
$darkbrown: #281A12;
$gray: #D8D6D6;
$white: #ffffff;
$black: #000000;

// 패딩값
$p_20: 20px;

//마진값
$m_50: 50px;


a{
  text-decoration: none;
  color: $black;
}
li{
  list-style: none;
}


body {
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
  text-rendering: geometricPrecision;
  margin-bottom: 60px; /* 바텀바 높이만큼 띄우기 */
}
main{
  margin-top: 70px; /* 헤더 높이만큼 띄우기 */
}

//----------------minin 서식-----------------

//말줄임 (1줄)
@mixin text-over($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  white-space: normal;
}


//------------------공통 컴포넌트----------------

// 찜 아이콘
.cart {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 10%;
  min-width: 30px;
}

// 별점
.star {
  text-wrap: nowrap;
  i {
    color: $red;
    opacity: 0.2;
    
    &.active {
      opacity: 1;
    }
  }
}

//리스트 목록 스타일
.list{
  border-radius: 0;
  width: 100%;
  li{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
    border-bottom: 1px solid #ccc;

    span:first-child{
      width: 60px;
    }
    span:last-child{
      opacity: 0;
      background: $red;
      color: $white;
      font-size: $fs-small;
      width: 20px; height: 20px;
      line-height: 20px;
      border-radius: 5px;
      text-align: center;
      margin-left: auto; /* N표시 오른쪽 정렬 */

      &.active{
        opacity: 1;
      }
    }
  }
}
