@charset "utf-8";



/* 타이틀 서식 */
.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title h2{
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
}
.title a{
  font-size: var(--fs-small);
  color: var(--m-color-red);
}


/* 컨텐츠 텍스트 서식 */
.con-title{
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  line-height: 140%;
  margin-top: 8px;
  /* 말줄임 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.con-sub{
  font-size: var(--fs-xsmall);
  margin-top: 8px;
  /* 말줄임 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}




/* -----------1. 메인배너----------- */
#sec01{
  position: relative;
  height:400px;
}
/* 1200px 이상일때 배너크기 */
@media (min-width: 1200px) {
  #sec01{
    height: 600px;
  }
}
#sec01 > div{
  position: absolute;
  width: 100%;
  height: 100%;
}
#sec01 .swiper-slide > div{
  position: absolute;
  bottom: 0;
  color: var(--s-color-white);
  padding: 40px 20px;
  width: 100%;
}
#sec01 .swiper-slide > div > span{
  display: inline-block;
  background: orangered;
  padding: 4px 8px;
  border-radius: 40px;
}
#sec01 .swiper-slide > div > p:first-of-type{
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  line-height: 140%;
  margin-top: 10px;
}
#sec01 .swiper-slide > div > p:last-of-type{
  font-size: var(--fs-small);
  line-height: 120%;
  margin-top: 10px;
}
/* 페이지네이션 버튼 그룹 */
#sec01 .slide-btn{
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 2px;
  font-size: var(--fs-medium-large);
}
/* 375px 이하일때 버튼크기와 위치 */
@media (max-width: 375px) {
  #sec01 .slide-btn{
    transform: scale(0.8);
    transform-origin: right;
    bottom: 10px;
    z-index: 100;
  }
}

#sec01 .swiper-button-play-pause {
  display: block;
  width: 40px; height: inherit;
  border-radius: 50%;
  background-color: rgba(28, 29, 31, 0.4);
  text-align: center;
  color: var(--s-color-white);
  z-index: 10;
  cursor: pointer;
  margin-right: 5px;
  font-size: var(--fs-large);
}
#sec01 .swiper-button-prev, #sec01 .swiper-button-next{
  position: initial;
  display: block;
  width: 40px; height: inherit;
  margin-top: 0;
  background-color: rgba(28, 29, 31, 0.4);
  text-align: center;
  color: var(--s-color-white);
}
#sec01 .swiper-button-next:after, #sec01 .swiper-button-prev:after{
  display: none;
}
#sec01 .swiper-button-prev{
  border-radius: 50% 0 0 50%;
}
#sec01 .swiper-button-next{
  border-radius: 0 50% 50% 0;
}
#sec01 .swiper-pagination-fraction{
  position: initial;
  width: 60px;
  background-color: rgba(28, 29, 31, 0.4);
  color: var(--s-color-white);
}
#sec01 .swiper-button-next:after, .swiper-button-prev:after{
  display: none;
}

/* ----------2. 카테고리------------ */
#sec02 > div{
  display: flex;
  justify-content: space-evenly;
}
#sec02 > div > div{
  width: 80px;
  background: skyblue;
}
#sec02 > div > div > a{
  display: block;
  height: 100%;
}
#sec02 > div > div > a > img{
  width: 80px; height: 80px;
}
#sec02 > div > div > a > p{
  text-align: center;
}

/* -------3. 실시간 인기수강------ */
#sec03 .mySwiper2{
  height: 400px;
}
#sec03 .swiper-slide{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
#sec03 .con-text{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  padding: 20px;
}
#sec03 .con-title{
  font-size: var(--fs-large);
}
/* 순위 플래그 */
.flag{
  position: absolute;
  top:0px; left: 25px;
}
.flag span{
  position: absolute;
  top: 4px; left: 8px;
  color: var(--s-color-white);
  font-size: var(--fs-medium-large);
  font-weight: var(--fw-bold);
}

/* -------4. 마감임박 수강 ------ */
#sec04 .mySwiper3 .swiper-slide img{height: 150px;}


/* ---------5. 광고배너-------- */
#sec05 .mySwiper4{
  height: 150px;
}
#sec05 .swiper-pagination-fraction{
  width: 80px;
  left: inherit;
  right: 20px;
}


/* --------6. 수강생 후기-------- */
#sec06 .mySwiper5{
  padding-top: 10px;
  padding-bottom: 10px;
}
#sec06 .swiper-slide{
  padding: 20px;
  border-radius: 10px;
  background: var(--s-color-white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
#sec06 .profile{
  display: flex;
  align-items: flex-start;
  background: var(--s-color-white);
  align-items: center;
}
#sec06 .profile > img{
  width: 50px; height: 50px;
  border-radius: 50%;
}
#sec06 .profile > div{
  margin-left: 10px;
}
#sec06 .profile > div > p{
  padding-top: 5px;
}
#sec06 .con-text{
  margin-top: 16px;
  background: var(--s-color-white);
}
#sec06 .con-text p:first-of-type{
  color:var(--m-color-red);
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
}
#sec06 .con-title{
  font-size: var(--fs-medium-large);
  -webkit-line-clamp: 1;
  margin-top: 4px;
}
#sec06 .con-sub{
  line-height: 140%;
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 3줄 이상 말줄임 표시 */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

/* ------7, 8, 9. 인기수강 -----*/
.mySwiper3 .swiper-slide img{
  height: 150px;
  border-radius: 10px;
}


/* --------10. 모바일앱 띠배너------- */
#sec10{
  height: 50px;
}

/* --------11. 국비과정 베스트-------- */
#sec11 .row{
  margin-right: 0;
  margin-left: 0;
  gap: 20px;
}
#sec11 .row>*{
  padding-left: 0;
  padding-right: 0;
}
#sec11 .col-xl{
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url("https://dummyimage.com/600x300");
  background-size: cover;
  background-position: center;
}
#sec11 .col-xl > div{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
#sec11 .col-xl > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 25, 17, 0.8);
  mix-blend-mode: multiply;
  z-index: -1;
}

#sec11 .col-xl > div >*{
  color: var(--s-color-white);
  font-weight: var(--fw-thin);
  line-height: 120%;
}
#sec11 .col-xl > div > p:first-of-type{
  font-size: var(--fs-medium-large);
  font-weight:var(--fw-light);
  
}
#sec11 .col-xl > div > p:last-of-type{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
#sec11 .col-xl > div > a{
  border: 1px solid var(--s-color-white);
  text-align: center;
  width: 120px;
  padding: 5px 0;
}

/* ----------12. 커뮤니티---------- */
#sec12{
  margin-bottom: 100px;
}
#sec12 .container{
  width: 100%;
  max-width: inherit;
}
/* 탭 메뉴 */
#sec12 .nav-tabs{
  width: 100%;
  --bs-nav-tabs-border-width:0;
}
#sec12 .nav-tabs .nav-item{
  flex-grow: 1;
}
#sec12 .nav-tabs .nav-link{
  width: 100%;
  color: #666;
  font-size: var(--fs-medium-large);
  font-weight: var(--fw-normal);
  border-bottom: 2px solid #ccc;
  padding: 15px 0;

}
#sec12 .nav-tabs .nav-link.active{
  border: none;
  color: #000;
  border-bottom: 2px solid #000;
}
/* 탭 내용 */
#sec12 .list-group{
  border-radius: 0;
}
#sec12 .list-group-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  align-items: center;
}
.list-group-item span:nth-child(1){
  width: 60px;
}
.list-group-item span:nth-child(3){
  opacity: 0;
  background: #000;
  color: var(--s-color-white);
  font-size: var(--fs-small);
  width: 20px; height: 20px;
  line-height: 20px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto; /* N표시 오른쪽 정렬 */
}
.list-group-item span:nth-child(3).active{
  opacity: 1;
}













/* -------공통 서식 -------*/

div{
  /* background: #aaa; */
}
section{
  margin-top: 50px;
  background: pink;
}
.swiper-button-next, .swiper-button-prev {
  display: none;
}




/* 1400px 이상일때 요소배치 */
@media (min-width: 1400px) {
  #sec02, #sec03, #sec04, #sec06, #sec07, #sec08, #sec09, #sec11, #sec12{
    width: 1400px;
    margin: 50px auto 0 auto;
  }
  #sec01 .swiper-slide > div{
    width: 1400px;
    left: 50%;
    transform: translateX(-50%);

  }
  #sec01 .slide-btn{
    width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  .swiper-button-next, .swiper-button-prev {
    display: block;
    color: #000;
  }
  .swiper-button-prev::after{
    display: block;
  }
}
